@import url(./sanitize.css);

body{
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}

section {
  width: 97%;
  margin: 0 auto;
}

a, label {
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body a {
  color: gray;
  text-decoration: underline; 
}

main {
  margin: 0 0.7em;
}

/** top **/
.margin{
  height: 50px;
}
.top_image{
  margin: 0 auto;
}
.top_image img{
  width: 80%;
  height: auto;
}
.artist_logos{
  margin:0 3% 0 7%;
  width: 90%;
}
.artist_logos img{
  width: 100%;
  height: auto;
}
.tb{
  display: none;
}
.top_text {
  margin: 1.4em 0 1.9em;
}
.top_text h1{
  line-height: 0.9em;
  font-weight: 100;
  font-size: 5em;
}

.disc_info {
  overflow: hidden;
  max-width: 345px;
  margin: 0 auto;
}
.dl_links {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 auto 3em;
  width: 41%;
  max-width: 200px;
}
.dl_links li {
  display: inline-block;
  position: relative;
  margin: 0 0 1em 2px;
  font-size: 1.2em;
  width: 100%;
  min-width: 117px;
  height: 3em;
  border: 1px solid black;
  z-index: -1;
}
.dl_links a {
  display: block;
  padding-top: 0.6em;
  width: 100%;
  height: 100%;
}

.split_desc {
  margin-bottom: 4em;
  text-align: left;
}

.track_li {
  float: left;
  display: block;
  padding: 0.3em 0 0 3em;
  width: 55%;
  min-width: 170px;
}
.track_li ol{
  text-align: left;
  list-style: decimal;
}
.track_li li {
  font-size: 1.5em;
  line-height: 0.8em;
  margin-bottom: 15px;
}
.track_li span {
  font-size: 0.6em;
}

.spacing  {
  margin: 2em 0 1em ;
  font-size: 2em;
  font-weight: normal;
}
/** Contents **/
.arts_cont {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 1em auto 0;
}
.content {
  display: block;
  position: relative;
  width: 45%;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgb(110, 110, 110);
  z-index: -1;
}
.content:before{
  display: block;
  content: '';
  padding-top: 100%;
}
.content a {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.cont_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 98%;;
  height: auto;
  text-decoration: underline;
}
.cont_date {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  font-size: 10px;
  text-decoration: none;
  background: rgb(235, 235, 235);
}

.next {
  text-align: left;
  margin-left: 2%;
}
.next_conts img{
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto 0.5em;
}
.nextconts_date {
  font-size: 1.2em;
}

/** Live **/
.cmsn p {
  text-align: center;
}
.live img {
  width: 100%;
  height: auto;
}
.live p, .live h3{
  text-align: left;
}
.live h3 {
  font-size: 1.7em;
  font-weight: 100;
}
.live p {
  font-size: 16px;
}

/** Artists **/
#artists {
  overflow: hidden;
  margin: 0 0 7em;;
}
#artists ul{
  list-style-type: none;
}
.artist {
  float: left;
  width: 50%;
  height: 190px;
}
.art_logo {
  position: relative;
  height: 100px;
  z-index: -1;
}
.artist img {
  display: block;
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.artist ul {
  display: list-item;
}
.art_link {
  margin-bottom: 0.2em;
  font-size: 1.1em;
}

/** footer **/
footer {
  clear: both;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
}