@import url(./sanitize.css);

.top_text h1 {
  font-size: 6em;
}

.sp {
  display: none;
}
.tb {
  display: inline;
}
.artist_logos {
  width: 100%;
  margin: 0 0 6em;
}

.split_desc {
  font-size: 1.3em;
}
.spacing {
  font-size: 4.5em;
  margin-bottom: 0em;
}

.info_wrap {
  width: 500px;
}
.dl_links {
  margin: 0 15px 0 75px;
  width: 160px;
}
.dl_links li {
  height: 3em;
}
.dl_links a{
  padding-top: 0.7em;
}
.disc_info {
  width: 190px;
  margin: 0 15px;
}
.disc_wrap {
  padding: 0 25px;

}
.disc_info p {
  display: inline;
}
/** contents **/
.content {
  width: 30.1%;
  margin: 1.6%;
}

.next {
  font-size: 1.4em;
}
.next_conts img {
  width: 30%;
}
.nextconts_title {
  font-size: 1.7em;
}
.nextconts_date {
  font-size: 2em;
}

/** live **/
.live {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
}
.live_img {
  display: block;
  width: 50%;
  margin-top: 7px;
}
.live h3 {
  padding-top: 0;
}
.live_desc {
  width: 48%;
  margin-left: 2%;
}

/** artists **/
.artist {
  width: 25%;
}