@import url(./sanitize.css);

body{
  display: none;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}

section {
  width: 97%;
  margin: 0 auto;
}

body a {
  color: gray;
  text-decoration: underline; 
}

main {
  margin: 0 0.7em;
}

/** top **/
.margin{
  height: 50px;
}
.top_image{
  margin: 0 auto;
}
.top_image img{
  width: 80%;
  height: auto;
}
.artist_logos{
  margin:0 3% 5px 4%;
  width: 93%;
}
.artist_logos img{
  width: 100%;
  height: auto;
}
.tb{
  display: none;
}
.top_text {
  margin: 1.4em 0 1.9em;
}
.top_text h1{
  line-height: 0.9em;
  font-weight: 100;
  font-size: 5em;
}

.disc_info {
  overflow: hidden;
  max-width: 330px;
  margin: 0 auto;
}
.dl_links {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 auto 3em;
  width: 41%;
  max-width: 250px;
}
.dl_links li {
  display: inline-block;
  position: relative;
  margin: 0 0 1em 2px;
  font-size: 1.2em;
  width: 100%;
  min-width: 117px;
  height: 3em;
  border: 1px solid black;
}
.dl_links a {
  display: block;
  padding-top: 0.6em;
  width: 100%;
  height: 100%;
}

.split_desc {
  margin: 1em 0 4em;
  text-align: left;
}
.split_desc p {
  margin-bottom: 0.5em;
}

.track_li {
  float: right;
  display: block;
  padding: 0.3em 0 0 3em;
  width: 55%;
  min-width: 170px;
}
.track_li ol{
  text-align: left;
  list-style: decimal;
}
.track_li li {
  font-size: 1.5em;
  line-height: 0.8em;
  margin-bottom: 15px;
}
.track_li span {
  font-size: 0.6em;
}

.spacing  {
  margin-bottom: 0.6em;
  font-size: 2em;
  font-weight: normal;
}
#contents {
  margin-top: 8em;
}
#live {
  margin-top: 15em;
}
/** Contents **/
.arts_cont {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  margin: 1em auto 0;
}
.content {
  display: block;
  position: relative;
  width: 45%;
  margin: 2.5%;
  box-shadow: 0 0 5px rgb(110, 110, 110);
}
.content:before{
  display: block;
  content: '';
  padding-top: 100%;
}
.content a {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.cont_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 98%;;
  height: auto;
  text-decoration: underline;
}
.cont_date {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  font-size: 10px;
  text-decoration: none;
  background: rgb(235, 235, 235);
}
.cont_art {
  display: block;
  position: absolute;
  width: 37%;
  height: auto;
  right: 4px;
  bottom: 5px;
}
.pale img {
  width: 30%;
  height: auto;
}

.next_conts{
  margin-top: 1.5em;
}
.next {
  text-align: left;
  margin-left: 2%;
}
.next_conts img{
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto 0.5em;
}
.nextconts_date {
  font-size: 1.2em;
}

/** Live **/
.cmsn p {
  text-align: center;
}
.live img {
  width: 100%;
  height: auto;
}
.live p, .live h3{
  text-align: left;
}
.live h3 {
  font-size: 1.9em;
  font-weight: 100;
}
.live p {
  font-size: 16px;
}

/** Artists **/
#artists {
  overflow: hidden;
  margin: 15em auto 7em;
}
#artists ul{
  list-style-type: none;
}
.artist {
  float: left;
  width: 50%;
  height: 260px;
}
.art_logo {
  position: relative;
  height: 100px;
  z-index: -1;
}
.artist img {
  display: block;
  position: absolute;
  width: 120px;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.artist ul {
  display: list-item;
}
.art_link {
  margin-bottom: 0.2em;
  font-size: 1.1em;
}
a {
  transition: background-color .5s , color .5s;
}
a:hover  {
  background-color: rgba(30, 78, 62, 0.219);
  color: black;
}
.art_link a {
  background-color: white;
}


/** footer **/
footer {
  clear: both;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
}


/**text content**/
.cont_article {
  width: 92%;
  max-width: 50rem;
  margin: 0 auto;
}
.back, .cont_article p{
  text-align: left;
}
.head {
  margin: 1.5em 0 ;
}
.head img {
  width: 50%;
  max-width: 200px;
  height: auto;
}
.head h1 {
  font-size: 1.6em;
}
.cont_article p {
  margin-bottom: 0.7em;
}
figure {
  margin: 1.5em 0;
}
figure img {
  width: 70%;
  max-width: 350px;
  height: auto;
}
.back {
  margin: 0.5em;
}
.back a {
  font-size: 1.2em;
}