@import url(./sanitize.css);
section {
  max-width: 1000px;
}

.margin {
  height: 5vh;
}
.top_image {
  height: 71vh;
  margin: 0;
}
.top_image img {
  height: 100%;
  width: auto;
}
.top_text {
  height: 24vh;
  margin: 0;
}
.top_text h1 {
  margin: 5vh 0 !important;
  font-size: 16vh;
}

.split_desc {
  margin-bottom: 7em;
}


/** contents **/
.content {
  width: 23%;
  margin: 1%;
}
.next_conts img {
  max-width: 280px;
}

/** artists **/
.artist {
  height: 300px;
}
.art_logo {
  height: 150px;
}
.art_logo img {
  width: 170px;
}