@import url(./sanitize.css);

/** tab **/

@keyframes tabAnim{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.tab_wrap{
  width: 50%;
  margin: 80px auto;
}
input[type="radio"]{
  display: none;
}
.tab_area{
  font-size: 0;
}
.tab_area label{
  width: 25%;
  display: inline-block;
  padding: 12px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}
.tab_area label:hover{
  opacity: 0.5;
}
.panel_area{
  background: #fff;
}
.tab_panel{
  width: 100%;
  padding: 80px 0;
  display: none;
}
.tab_panel p{
  font-size:14px;
  letter-spacing: 1px; 
  text-align: center;
}

#tab1:checked ~ .tab_area .tab1_label{
  background:#fff;
  color: #000;
}
#tab1:checked ~ .panel_area #panel1{
  display: block;
  animation: tabAnim ease 0.6s forwards;
  -ms-animation: tabAnim ease 0.6s forwards;
}
#tab2:checked ~ .tab_area .tab2_label{
  background:#fff;
  color: #000;
}
#tab2:checked ~ .panel_area #panel2{
  display: block;
  animation: tabAnim ease 0.6s forwards;
  -ms-animation: tabAnim ease 0.6s forwards;
}
#tab3:checked ~ .tab_area .tab3_label{
  background:#fff;
  color: #000;
}
#tab3:checked ~ .panel_area #panel3{
  display: block;
  animation: tabAnim ease 0.6s forwards;
  -ms-animation: tabAnim ease 0.6s forwards;
}
#tab4:checked ~ .tab_area .tab4_label{
  background:#fff;
  color: #000;
}
#tab4:checked ~ .panel_area #panel4{
  display: block;
  animation: tabAnim ease 0.6s forwards;
  -ms-animation: tabAnim ease 0.6s forwards;
}
